h1{
  color: rgb(67, 106, 224);
  text-align: center;
  font-size: larger;
  background-color: aqua;
}

h2{
  color: blueviolet;
  text-align: left;
  background-color: beige;
  margin: 20px;
  padding: 30px;

}